<div class="charts">
    <div id="bar-chart" class="chart"></div>
    <div id="line-chart" class="chart"></div>
</div>
<script>
    const bar_options = {
        chart: {
            id: 'barChart',
            type: 'bar',
            height: '200px',
        },
        series: [{data: []}]
    }
    const line_options = {
        chart: {
            id: 'lineChart',
            type: 'line',
            height: '200px',
        },
        xaxis: {
            min: 1,
            max: 5,
        },
        series: [{data: []}]
    }
    const barChart = new ApexCharts(document.querySelector("#bar-chart"), bar_options);
    barChart.render();
    const lineChart = new ApexCharts(document.querySelector("#line-chart"), line_options);
    lineChart.render();
</script>
