<form action="." hx-get="." hx-target="#product-table" hx-push-url="true" hx-trigger="change from:(input,select) delay:0.3s">
    <div class="form-row">
        <span class="label">Цена</span>
        <div id="price-slider"></div>
    </div>
    <div class="hidden">
        {{ filter_form.min_price }}
        {{ filter_form.max_price }}
    </div>
    <div class="form-row">
        <label for="id_min_rating">Рейтинг (минимум)</label>
        {{ filter_form.min_rating }}
    </div>
    <div class="form-row">
        <label for="id_min_review_count">Отзывы (минимум)</label>
        {{ filter_form.min_review_count }}
    </div>
    {% comment %} <button type="submit">Применить фильтр</button> {% endcomment %}
</form>
<script>
    const min_price_el = document.getElementById('id_min_price');
    const max_price_el = document.getElementById('id_max_price');
    function updateInputs(values) {
        min_price_el.value = values[0];
        max_price_el.value = values[1];

        const event = new Event('change', {bubbles: true, cancelable: false});
        min_price_el.dispatchEvent(event);
   }

    const tooltipSlider = document.getElementById('price-slider');

    const slider = noUiSlider.create(tooltipSlider, {
        start: [{{ filter_form.min_price.value|default_if_none:min_available_price }}, {{ filter_form.max_price.value|default_if_none:max_available_price }}],
        tooltips: [true, true],
        range: {'min': {{ min_available_price }}, 'max': {{ max_available_price }}},
        connect: [false, true, false],
    });
    slider.on('set', updateInputs);
</script>
