{% if page_obj.object_list.count %}
    <table class="products">
        <tr hx-boost="true">
            <th><a href="{% querystring ordering=ordering.name.value %}">Название товара</a> {{ ordering.name.emoji }}
            </th>
            <th><a href="{% querystring ordering=ordering.price.value %}">Цена</a> {{ ordering.price.emoji }}</th>
            <th>Цена со скидкой</th>
            <th><a href="{% querystring ordering=ordering.rating.value %}">Рейтинг</a> {{ ordering.rating.emoji }}</th>
            <th><a href="{% querystring ordering=ordering.review_count.value %}">Количество
                отзывов</a> {{ ordering.review_count.emoji }}</th>
        </tr>
        {% for product in page_obj %}
            <tr class="product">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount_price }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.review_count }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination" hx-boost="true" hx-target="#product-table">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% querystring page=1 %}">⏮</a>
                    <a href="{% querystring page=page_obj.previous_page_number %}">◀</a>
                {% endif %}
            </span>
        <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
        <span class="step-links">
                {% if page_obj.has_next %}
                    <a href="{% querystring page=page_obj.next_page_number %}">▶</a>
                    <a href="{% querystring page=page_obj.paginator.num_pages %}">⏭</a>
                {% endif %}
            </span>
    </div>
{% else %}
    <div class="products-not-found">Не найдены товары подходящие под фильтр</div>
{% endif %}
<script>
    ApexCharts.exec('barChart', 'updateSeries', {{bar_series}})
    ApexCharts.exec('lineChart', 'updateSeries', {{line_series}})
</script>
