td, th {
    padding: 4px 8px;
}

th {
    background-color: #777;
    color: white;
}

td {
    background-color: #eee;
}

.products {
    margin-top: 12px;
}

.form-row > label, .form-row > .label {
    display: inline-block;
    width: 200px;
}

.form-row > input[type=number] {
    width: 80px;
}

.form-row {
    padding: 4px;
    margin: 4px;
}

.products-not-found {
    display: inline-block;
    width: 80%;
    margin: auto;
    font-weight: bold;
    font-size: large;
    color: #2a6496;
    padding: 16px;
    text-align: center;
}

#price-slider {
    display: inline-block;
    width: calc(95% - 200px);
    margin: 0;
}

.hidden {
    display: none;
}

.chart {
    display: inline-block;
    height: 100px;
    width: 45%;
}

.charts {
    max-height: 200px;
}
