{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tile }}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/no-ui-slider/css/nouislider.min.css' %}">
    {% htmx_script %}
{#    <script src="{% static 'django_htmx/htmx.min.js' %}"></script>#}
{#    <script src="{% static 'django_htmx/django-htmx.js' %}"></script>#}
    <script src="{% static 'vendor/no-ui-slider/js/nouislider.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
{% block content %}{% endblock %}
</body>
</html>
